/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Syne:wght@400;500;600&display=swap');

:root {
    --header-heigth: 3.5rem;

    /* COLOR */
    --hue: 255;
    --first-color: hsl(var(--hue), 90%, 60%);
    --first-color-alt: hsl(var(--hue), 82%, 56%);
    --first-color-light: hsl(var(--hue), 40%, 80%);
    --title-color: hsl(var(--hue), 24%, 16%);
    --text-color: hsl(var(--hue), 8%, 45%);
    --text-color-light: hs(var(--hue), 8%, 60%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 100%);
    --shadow-color: hsla(var(--hue), 90%. 30%, .1);

    /* font and typo */
    --body-font: 'Syne', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: . 938rem;
    --smal-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.125rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Base */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body, input, textarea, button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

input, button, text, area{
    border: none;
    outline: none;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* Dark Theme */

/* Reusable CSS Classes */

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section__title{
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.main{
    overflow: hidden;
}

/* Header and Nav */







